---
---

@tailwind base;
@tailwind components;
@tailwind utilities;


p {
  @apply mb-4;
}

/*
a {
  @apply bg-yellow-200 px-1 rounded-md font-normal;
}
*/

.avatar {
  @apply h-auto mt-0 ml-0 mr-8 mb-8 overflow-hidden;
  border-radius: 50%;
  width: 30%;
  max-width: 110px;
}
