---
layout: default
permalink: indice
title: Índice
---

<div class="text-content">
  {% if site.posts.size > 0 %}
    <h1 class="mb-8">Índice de contenidos</h1>
    <ul>
      {% for post in site.posts %}
      <li class="list-outside list-disc">
          <!-- Title + Link-->
          <a href="{{ post.url | relative_url }}" class="bg-white">
          {{ post.title | escape }}
          </a>
          <!-- Publication date -->
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="text-xs pl-2 opacity-75">{{ post.date | date: date_format }}</span>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    Sin publicaciones todavía.
  {% endif %}
</div>
