---
layout: default
title: Blog
---

{% if site.posts.size > 0 %}
  <ul>
    {% for post in paginator.posts %}
      <div class="mb-12">
        <li>
        
          <!-- Title + Link-->
          <h2 class="text-3xl my-2 mb-4 font-black">
            <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            </a>
          </h2>

          <!-- Publication date -->
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <p class="text-xs -my-2 mb-10 opacity-75">{{ post.date | date: date_format }}</p>
          
          <!-- Post content -->
          <div class="mt-6 text-content">
            {% if site.show_excerpts %}
              {{ post.excerpt }}
            {% endif %}
          </div>    
          
          {% if forloop.last == false %}
            <hr class="my-12 w-1/2 mx-auto">
          {% endif %}

        </li>
      </div>
    {% endfor %}
  </ul>
{% else %}
  Sin publicaciones todavía.
{% endif %}

<div class="mt-12 pb-12">
{% include pagination.html %}
</div>
