<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Add favicon -->
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- Add favicon -->
    <link rel="shortcut icon" type="image/jpg" href="favicon.jpg">
  </head>
  
  <body class="container mx-auto w-full h-screen lg:w-1/2 p-4 font-sans text-stone-700 leadind-relaxed">
    
    <div class="mt-6">
      {% include header.html %}
    </div>

    <div class="mt-12">
      {{ content }}
    </div>

    <div class="my-12 absolute bottom-0">
      {% include footer.html %}
    </div>

  </body>

</html>
