---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="text-content">
  
    <header>
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <p class="text-xs -my-2 mb-10 opacity-75">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
    </p>

    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}</span>

    <div class="my-6" itemprop="articleBody">
      {{ content }}
    </div>

  </div>
</article>
